<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fime.fsw.huella.huella">

    <!-- To auto-complete the email text field in the login form with the username's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Activities.HuellaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FimeTheme">
        <activity
            android:name=".Activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.screens.descarga.PrefectoDownloadActivity" />
        <activity android:name=".Activities.screens.login.PrefectoLoginActivity" />
        <activity android:name=".Activities.screens.rutasmain.RutasListaActivity" />
        <activity android:name=".Activities.screens.tasksmain.RecorridoMainActivity" />
        <activity android:name=".Activities.screens.codigoBarras.BarcodeReaderActivity" />
        <activity android:name=".Activities.screens.huella.IdentificarHuellaActivity" />

        <receiver android:name=".Network.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Network.UpCheckoutsIntentService"
            android:exported="false" />

    </application>

</manifest>